In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temps = session.query(Measurement).filter(extract('month', Measurement.date) == 6)

In [5]:
#  3. Convert the June temperatures to a list.
june_temps_list = [temp.tobs for temp in june_temps]
print(june_temps_list)

[78.0, 76.0, 78.0, 76.0, 77.0, 78.0, 77.0, 78.0, 78.0, 79.0, 78.0, 78.0, 78.0, 77.0, 78.0, 78.0, 77.0, 77.0, 82.0, 78.0, 78.0, 78.0, 78.0, 78.0, 77.0, 76.0, 78.0, 78.0, 78.0, 78.0, 77.0, 78.0, 73.0, 70.0, 76.0, 77.0, 77.0, 77.0, 77.0, 78.0, 77.0, 77.0, 78.0, 78.0, 77.0, 78.0, 78.0, 75.0, 76.0, 76.0, 77.0, 78.0, 76.0, 77.0, 75.0, 77.0, 76.0, 76.0, 75.0, 77.0, 77.0, 76.0, 78.0, 77.0, 76.0, 77.0, 76.0, 76.0, 77.0, 77.0, 78.0, 77.0, 77.0, 77.0, 76.0, 75.0, 76.0, 76.0, 77.0, 76.0, 73.0, 73.0, 75.0, 77.0, 76.0, 77.0, 79.0, 78.0, 79.0, 78.0, 78.0, 79.0, 77.0, 77.0, 77.0, 77.0, 77.0, 78.0, 77.0, 76.0, 78.0, 78.0, 77.0, 78.0, 78.0, 73.0, 76.0, 77.0, 75.0, 76.0, 74.0, 75.0, 77.0, 76.0, 77.0, 78.0, 79.0, 77.0, 78.0, 79.0, 78.0, 78.0, 78.0, 78.0, 79.0, 79.0, 82.0, 80.0, 79.0, 79.0, 78.0, 78.0, 77.0, 78.0, 78.0, 73.0, 75.0, 75.0, 76.0, 84.0, 79.0, 76.0, 79.0, 79.0, 77.0, 79.0, 78.0, 78.0, 79.0, 77.0, 79.0, 78.0, 78.0, 78.0, 79.0, 77.0, 78.0, 78.0, 78.0, 78.0, 79.0, 79.0, 77.0, 78.0, 78.0, 78.0, 79.0, 79.0, 77.0, 79.0, 79.0, 79.0, 81.0, 76.0, 80.0, 78.0, 76.0, 71.0, 71.0, 74.0, 76.0, 78.0, 77.0, 77.0, 73.0, 77.0, 78.0, 78.0, 80.0, 79.0, 78.0, 77.0, 76.0, 77.0, 77.0, 78.0, 80.0, 79.0, 79.0, 77.0, 78.0, 79.0, 80.0, 76.0, 79.0, 80.0, 79.0, 79.0, 79.0, 79.0, 80.0, 79.0, 79.0, 80.0, 80.0, 77.0, 79.0, 83.0, 80.0, 80.0, 78.0, 79.0, 80.0, 77.0, 80.0, 78.0, 79.0, 80.0, 78.0, 80.0, 80.0, 81.0, 80.0, 79.0, 79.0, 75.0, 74.0, 76.0, 75.0, 75.0, 74.0, 75.0, 75.0, 75.0, 75.0, 75.0, 83.0, 75.0, 76.0, 73.0, 74.0, 74.0, 75.0, 70.0, 74.0, 75.0, 75.0, 75.0, 75.0, 75.0, 74.0, 72.0, 76.0, 73.0, 75.0, 76.0, 74.0, 75.0, 71.0, 69.0, 69.0, 74.0, 71.0, 74.0, 74.0, 75.0, 73.0, 73.0, 73.0, 75.0, 75.0, 74.0, 74.0, 75.0, 74.0, 73.0, 72.0, 74.0, 72.0, 75.0, 76.0, 74.0, 74.0, 74.0, 74.0, 74.0, 71.0, 71.0, 75.0, 72.0, 72.0, 73.0, 73.0, 73.0, 74.0, 73.0, 72.0, 72.0, 70.0, 72.0, 72.0, 72.0, 74.0, 73.0, 73.0, 70.0, 73.0, 72.0, 73.0, 69.0, 72.0, 71.0, 71.0, 73.0, 73.0, 72.0, 75.0, 75.0, 75.0, 75.0, 74.0, 74.0, 74.0, 75.0, 75.0, 74.0, 75.0, 75.0, 74.0, 72.0, 74.0, 74.0, 74.0, 74.0, 74.0, 72.0, 70.0, 75.0, 74.0, 71.0, 71.0, 70.0, 73.0, 71.0, 71.0, 77.0, 77.0, 74.0, 73.0, 75.0, 75.0, 74.0, 74.0, 75.0, 75.0, 72.0, 74.0, 76.0, 76.0, 75.0, 75.0, 74.0, 72.0, 74.0, 75.0, 70.0, 71.0, 72.0, 71.0, 73.0, 74.0, 72.0, 74.0, 76.0, 72.0, 75.0, 75.0, 72.0, 70.0, 76.0, 78.0, 72.0, 74.0, 74.0, 72.0, 71.0, 79.0, 79.0, 76.0, 75.0, 72.0, 74.0, 76.0, 76.0, 77.0, 75.0, 76.0, 75.0, 75.0, 76.0, 76.0, 74.0, 70.0, 69.0, 70.0, 68.0, 70.0, 74.0, 75.0, 74.0, 71.0, 73.0, 75.0, 74.0, 76.0, 76.0, 76.0, 76.0, 75.0, 75.0, 75.0, 74.0, 73.0, 76.0, 74.0, 78.0, 71.0, 75.0, 75.0, 74.0, 77.0, 77.0, 76.0, 76.0, 76.0, 78.0, 76.0, 75.0, 75.0, 76.0, 78.0, 75.0, 73.0, 76.0, 76.0, 76.0, 77.0, 76.0, 77.0, 72.0, 77.0, 75.0, 82.0, 77.0, 76.0, 74.0, 73.0, 77.0, 77.0, 77.0, 76.0, 74.0, 73.0, 72.0, 74.0, 73.0, 72.0, 75.0, 74.0, 75.0, 73.0, 75.0, 76.0, 74.0, 74.0, 73.0, 73.0, 76.0, 75.0, 70.0, 75.0, 73.0, 74.0, 74.0, 74.0, 74.0, 70.0, 75.0, 74.0, 73.0, 74.0, 72.0, 73.0, 67.0, 69.0, 76.0, 73.0, 70.0, 72.0, 74.0, 72.0, 72.0, 75.0, 73.0, 73.0, 72.0, 74.0, 76.0, 72.0, 74.0, 70.0, 74.0, 74.0, 74.0, 71.0, 75.0, 75.0, 76.0, 77.0, 75.0, 74.0, 75.0, 76.0, 78.0, 78.0, 76.0, 78.0, 76.0, 76.0, 78.0, 79.0, 77.0, 76.0, 77.0, 77.0, 76.0, 78.0, 76.0, 76.0, 77.0, 71.0, 74.0, 72.0, 77.0, 77.0, 78.0, 77.0, 77.0, 76.0, 75.0, 79.0, 75.0, 73.0, 76.0, 78.0, 77.0, 78.0, 76.0, 75.0, 76.0, 77.0, 74.0, 78.0, 77.0, 77.0, 74.0, 74.0, 78.0, 79.0, 79.0, 78.0, 75.0, 76.0, 78.0, 78.0, 74.0, 78.0, 77.0, 76.0, 78.0, 78.0, 78.0, 78.0, 74.0, 79.0, 77.0, 73.0, 79.0, 79.0, 78.0, 77.0, 78.0, 78.0, 80.0, 80.0, 79.0, 74.0, 71.0, 74.0, 75.0, 75.0, 74.0, 76.0, 75.0, 77.0, 77.0, 79.0, 79.0, 78.0, 79.0, 73.0, 78.0, 79.0, 80.0, 76.0, 79.0, 79.0, 77.0, 80.0, 79.0, 78.0, 78.0, 79.0, 78.0, 81.0, 78.0, 80.0, 79.0, 81.0, 80.0, 81.0, 79.0, 81.0, 78.0, 79.0, 79.0, 75.0, 79.0, 78.0, 80.0, 78.0, 77.0, 78.0, 79.0, 76.0, 80.0, 76.0, 81.0, 77.0, 76.0, 77.0, 75.0, 76.0, 79.0, 79.0, 77.0, 76.0, 77.0, 76.0, 73.0, 76.0, 77.0, 77.0, 78.0, 77.0, 76.0, 78.0, 78.0, 75.0, 77.0, 65.0, 76.0, 74.0, 76.0, 76.0, 77.0, 77.0, 76.0, 77.0, 76.0, 77.0, 74.0, 76.0, 73.0, 75.0, 76.0, 75.0, 76.0, 75.0, 74.0, 74.0, 74.0, 74.0, 76.0, 76.0, 77.0, 77.0, 78.0, 73.0, 75.0, 72.0, 76.0, 76.0, 73.0, 74.0, 72.0, 76.0, 76.0, 76.0, 78.0, 78.0, 78.0, 78.0, 75.0, 77.0, 73.0, 78.0, 75.0, 73.0, 77.0, 80.0, 70.0, 78.0, 72.0, 78.0, 72.0, 78.0, 77.0, 79.0, 77.0, 78.0, 74.0, 79.0, 79.0, 79.0, 79.0, 77.0, 79.0, 78.0, 80.0, 81.0, 81.0, 78.0, 77.0, 78.0, 79.0, 77.0, 79.0, 80.0, 79.0, 78.0, 79.0, 79.0, 79.0, 81.0, 64.0, 65.0, 75.0, 76.0, 78.0, 77.0, 75.0, 78.0, 81.0, 78.0, 76.0, 73.0, 74.0, 76.0, 78.0, 79.0, 78.0, 72.0, 78.0, 80.0, 81.0, 79.0, 78.0, 80.0, 80.0, 78.0, 80.0, 81.0, 78.0, 77.0, 78.0, 78.0, 77.0, 76.0, 81.0, 76.0, 82.0, 80.0, 80.0, 79.0, 74.0, 69.0, 70.0, 67.0, 70.0, 73.0, 73.0, 72.0, 72.0, 77.0, 70.0, 78.0, 73.0, 75.0, 70.0, 74.0, 77.0, 69.0, 73.0, 73.0, 74.0, 73.0, 72.0, 75.0, 73.0, 76.0, 74.0, 76.0, 73.0, 76.0, 76.0, 78.0, 75.0, 77.0, 75.0, 73.0, 76.0, 71.0, 71.0, 76.0, 76.0, 76.0, 73.0, 78.0, 77.0, 77.0, 77.0, 78.0, 78.0, 76.0, 76.0, 79.0, 74.0, 75.0, 76.0, 75.0, 73.0, 76.0, 78.0, 76.0, 79.0, 77.0, 76.0, 74.0, 75.0, 76.0, 76.0, 76.0, 79.0, 76.0, 72.0, 71.0, 72.0, 76.0, 74.0, 75.0, 76.0, 77.0, 76.0, 75.0, 76.0, 76.0, 76.0, 75.0, 76.0, 76.0, 79.0, 74.0, 73.0, 75.0, 74.0, 75.0, 76.0, 72.0, 74.0, 74.0, 75.0, 75.0, 74.0, 75.0, 77.0, 75.0, 74.0, 75.0, 74.0, 75.0, 73.0, 75.0, 76.0, 76.0, 76.0, 79.0, 74.0, 78.0, 80.0, 75.0, 72.0, 72.0, 74.0, 78.0, 76.0, 77.0, 72.0, 72.0, 73.0, 75.0, 79.0, 81.0, 76.0, 76.0, 77.0, 78.0, 79.0, 79.0, 75.0, 79.0, 79.0, 75.0, 77.0, 81.0, 76.0, 75.0, 78.0, 81.0, 76.0, 76.0, 76.0, 72.0, 73.0, 74.0, 74.0, 75.0, 73.0, 73.0, 76.0, 73.0, 79.0, 78.0, 76.0, 76.0, 76.0, 77.0, 79.0, 80.0, 78.0, 76.0, 78.0, 78.0, 77.0, 79.0, 79.0, 75.0, 76.0, 77.0, 74.0, 77.0, 76.0, 76.0, 75.0, 74.0, 79.0, 76.0, 74.0, 76.0, 77.0, 78.0, 77.0, 75.0, 75.0, 80.0, 77.0, 77.0, 77.0, 80.0, 76.0, 78.0, 77.0, 79.0, 79.0, 77.0, 75.0, 76.0, 78.0, 78.0, 80.0, 78.0, 79.0, 79.0, 77.0, 77.0, 81.0, 75.0, 72.0, 75.0, 75.0, 75.0, 75.0, 73.0, 78.0, 77.0, 80.0, 72.0, 78.0, 78.0, 77.0, 78.0, 79.0, 80.0, 76.0, 77.0, 79.0, 79.0, 77.0, 79.0, 80.0, 80.0, 77.0, 79.0, 81.0, 78.0, 80.0, 79.0, 79.0, 81.0, 79.0, 81.0, 78.0, 78.0, 78.0, 77.0, 78.0, 75.0, 81.0, 80.0, 77.0, 80.0, 78.0, 80.0, 77.0, 78.0, 78.0, 80.0, 80.0, 79.0, 82.0, 80.0, 81.0, 81.0, 79.0, 78.0, 75.0, 71.0, 71.0, 72.0, 72.0, 76.0, 77.0, 71.0, 73.0, 73.0, 75.0, 81.0, 74.0, 77.0, 70.0, 69.0, 70.0, 72.0, 71.0, 77.0, 76.0, 74.0, 74.0, 74.0, 74.0, 71.0, 80.0, 77.0, 72.0, 72.0, 73.0, 72.0, 73.0, 73.0, 77.0, 76.0, 79.0, 78.0, 82.0, 79.0, 76.0, 74.0, 74.0, 73.0, 79.0, 77.0, 73.0, 72.0, 72.0, 73.0, 74.0, 77.0, 73.0, 73.0, 72.0, 72.0, 67.0, 71.0, 73.0, 78.0, 71.0, 72.0, 70.0, 72.0, 73.0, 74.0, 81.0, 72.0, 77.0, 69.0, 69.0, 69.0, 78.0, 78.0, 73.0, 72.0, 71.0, 72.0, 72.0, 73.0, 71.0, 70.0, 71.0, 68.0, 72.0, 71.0, 78.0, 81.0, 74.0, 74.0, 73.0, 73.0, 72.0, 73.0, 77.0, 73.0, 73.0, 75.0, 72.0, 72.0, 73.0, 73.0, 75.0, 72.0, 73.0, 70.0, 69.0, 68.0, 75.0, 74.0, 73.0, 70.0, 70.0, 71.0, 70.0, 70.0, 75.0, 74.0, 72.0, 74.0, 73.0, 73.0, 70.0, 73.0, 75.0, 73.0, 69.0, 80.0, 73.0, 72.0, 80.0, 80.0, 69.0, 70.0, 69.0, 72.0, 68.0, 74.0, 75.0, 70.0, 70.0, 72.0, 71.0, 70.0, 77.0, 73.0, 71.0, 76.0, 68.0, 71.0, 70.0, 68.0, 79.0, 75.0, 71.0, 69.0, 71.0, 72.0, 69.0, 72.0, 75.0, 71.0, 72.0, 70.0, 71.0, 72.0, 75.0, 75.0, 71.0, 73.0, 71.0, 71.0, 74.0, 74.0, 78.0, 72.0, 69.0, 69.0, 67.0, 68.0, 65.0, 70.0, 72.0, 74.0, 73.0, 71.0, 75.0, 72.0, 75.0, 76.0, 75.0, 76.0, 75.0, 71.0, 75.0, 75.0, 72.0, 72.0, 75.0, 73.0, 76.0, 74.0, 77.0, 72.0, 71.0, 76.0, 77.0, 80.0, 76.0, 76.0, 77.0, 75.0, 75.0, 75.0, 75.0, 72.0, 74.0, 74.0, 74.0, 76.0, 74.0, 75.0, 73.0, 79.0, 75.0, 72.0, 72.0, 74.0, 72.0, 72.0, 77.0, 71.0, 73.0, 76.0, 77.0, 76.0, 76.0, 74.0, 76.0, 78.0, 74.0, 79.0, 79.0, 69.0, 77.0, 80.0, 75.0, 75.0, 78.0, 71.0, 76.0, 74.0, 78.0, 72.0, 78.0, 85.0, 77.0, 76.0, 76.0, 75.0, 71.0, 70.0, 80.0, 77.0, 70.0, 73.0, 73.0, 76.0, 70.0, 71.0, 80.0, 70.0, 68.0, 74.0, 75.0, 75.0, 78.0, 76.0, 69.0, 73.0, 76.0, 72.0, 72.0, 80.0, 76.0, 71.0, 68.0, 71.0, 72.0, 75.0, 80.0, 75.0, 74.0, 74.0, 69.0, 70.0, 73.0, 76.0, 76.0, 74.0, 71.0, 72.0, 73.0, 77.0, 77.0, 77.0, 79.0, 77.0, 77.0, 78.0, 78.0, 81.0, 76.0, 74.0, 71.0, 78.0, 71.0, 76.0, 81.0, 73.0, 72.0, 72.0, 74.0, 72.0, 79.0, 80.0, 81.0, 75.0, 80.0, 73.0, 74.0, 73.0, 81.0, 79.0, 78.0, 74.0, 74.0, 73.0, 73.0, 77.0, 77.0, 74.0, 73.0, 70.0, 69.0, 72.0, 79.0, 77.0, 70.0, 71.0, 67.0, 66.0, 78.0, 80.0, 80.0, 79.0, 68.0, 67.0, 71.0, 72.0, 79.0, 80.0, 72.0, 68.0, 84.0, 82.0, 79.0, 78.0, 81.0, 77.0, 71.0, 69.0, 73.0, 68.0, 75.0, 79.0, 70.0, 70.0, 73.0, 71.0, 68.0, 78.0, 69.0, 70.0, 67.0, 68.0, 68.0, 71.0, 74.0, 69.0, 69.0, 66.0, 67.0, 69.0, 72.0, 72.0, 72.0, 70.0, 75.0, 73.0, 70.0, 71.0, 70.0, 78.0, 73.0, 68.0, 79.0, 74.0, 75.0, 71.0, 75.0, 76.0, 73.0, 73.0, 74.0, 72.0, 72.0, 72.0, 70.0, 69.0, 73.0, 71.0, 73.0, 72.0, 69.0, 72.0, 66.0, 67.0, 71.0, 71.0, 72.0, 72.0, 71.0, 71.0, 71.0, 69.0, 68.0, 71.0, 73.0, 72.0, 74.0, 70.0, 72.0, 71.0, 71.0, 70.0, 70.0, 69.0, 74.0, 69.0, 72.0, 70.0, 72.0, 72.0, 69.0, 73.0, 71.0, 72.0, 71.0, 72.0, 71.0, 74.0, 74.0, 75.0, 69.0, 75.0, 70.0, 73.0, 72.0, 70.0, 73.0, 71.0, 70.0, 69.0, 71.0, 68.0, 68.0, 68.0, 69.0, 69.0, 69.0, 71.0, 78.0, 72.0, 73.0, 71.0, 72.0, 72.0, 71.0, 74.0, 71.0, 72.0, 72.0, 74.0, 72.0, 69.0, 70.0, 76.0, 70.0, 71.0, 73.0, 68.0, 68.0, 69.0, 70.0, 69.0, 69.0, 70.0, 71.0, 70.0, 67.0, 72.0, 72.0, 75.0, 73.0, 73.0, 72.0, 71.0, 77.0, 73.0, 70.0, 70.0, 76.0, 72.0, 73.0, 77.0, 73.0, 70.0, 68.0, 69.0, 70.0, 70.0, 73.0, 70.0, 69.0, 71.0, 70.0, 70.0, 72.0, 71.0, 70.0, 69.0, 72.0, 72.0, 71.0, 76.0, 71.0, 72.0, 70.0, 72.0, 72.0, 71.0, 72.0, 69.0, 70.0, 73.0, 70.0, 72.0, 72.0, 71.0, 73.0, 72.0, 73.0, 72.0, 71.0, 70.0, 75.0, 72.0, 70.0, 72.0, 70.0, 71.0, 70.0, 73.0, 72.0, 71.0, 71.0, 69.0, 70.0, 73.0, 75.0, 73.0, 72.0, 70.0, 70.0, 69.0, 73.0, 74.0, 72.0, 71.0, 73.0, 72.0, 73.0, 74.0, 72.0, 74.0, 72.0, 74.0, 74.0, 77.0, 74.0, 74.0, 79.0, 75.0, 72.0, 76.0, 74.0, 73.0, 74.0, 77.0, 74.0, 72.0, 77.0, 76.0, 74.0, 75.0, 76.0, 71.0, 73.0, 79.0, 79.0, 74.0, 74.0, 76.0, 75.0]

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temps_list, columns=["temps"])
june_df

      temps
0      78.0
1      76.0
2      78.0
3      76.0
4      77.0
...     ...
1695   79.0
1696   74.0
1697   74.0
1698   76.0
1699   75.0

[1700 rows x 1 columns]

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

             temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_temps = session.query(Measurement).filter(extract('month', Measurement.date) == 12)

In [9]:
# 7. Convert the December temperatures to a list.
december_temps_list = [temp.tobs for temp in december_temps]
print(december_temps_list)

[76.0, 74.0, 74.0, 64.0, 64.0, 67.0, 77.0, 66.0, 69.0, 68.0, 68.0, 71.0, 74.0, 67.0, 66.0, 69.0, 71.0, 70.0, 70.0, 74.0, 74.0, 71.0, 75.0, 75.0, 72.0, 69.0, 68.0, 73.0, 74.0, 73.0, 73.0, 73.0, 73.0, 71.0, 73.0, 73.0, 77.0, 72.0, 71.0, 73.0, 70.0, 73.0, 69.0, 74.0, 72.0, 71.0, 72.0, 72.0, 70.0, 73.0, 73.0, 72.0, 73.0, 73.0, 72.0, 63.0, 65.0, 71.0, 76.0, 70.0, 76.0, 69.0, 69.0, 69.0, 74.0, 76.0, 74.0, 73.0, 73.0, 74.0, 73.0, 73.0, 73.0, 74.0, 74.0, 71.0, 73.0, 72.0, 64.0, 66.0, 73.0, 72.0, 65.0, 64.0, 69.0, 68.0, 77.0, 71.0, 71.0, 69.0, 68.0, 68.0, 69.0, 70.0, 72.0, 76.0, 75.0, 69.0, 71.0, 71.0, 71.0, 68.0, 65.0, 70.0, 69.0, 69.0, 71.0, 67.0, 73.0, 74.0, 73.0, 67.0, 74.0, 75.0, 75.0, 74.0, 67.0, 73.0, 73.0, 71.0, 72.0, 71.0, 68.0, 65.0, 69.0, 70.0, 70.0, 74.0, 71.0, 74.0, 73.0, 72.0, 74.0, 72.0, 74.0, 75.0, 74.0, 70.0, 74.0, 70.0, 66.0, 61.0, 63.0, 63.0, 63.0, 63.0, 67.0, 56.0, 75.0, 77.0, 75.0, 75.0, 75.0, 75.0, 71.0, 70.0, 74.0, 74.0, 75.0, 72.0, 70.0, 66.0, 74.0, 75.0, 74.0, 75.0, 76.0, 74.0, 75.0, 74.0, 73.0, 68.0, 73.0, 74.0, 74.0, 77.0, 70.0, 70.0, 69.0, 75.0, 72.0, 69.0, 71.0, 68.0, 67.0, 69.0, 73.0, 70.0, 70.0, 70.0, 66.0, 67.0, 70.0, 66.0, 62.0, 71.0, 73.0, 69.0, 77.0, 74.0, 71.0, 72.0, 74.0, 74.0, 74.0, 74.0, 71.0, 73.0, 69.0, 66.0, 73.0, 72.0, 73.0, 74.0, 73.0, 66.0, 64.0, 66.0, 75.0, 65.0, 69.0, 71.0, 69.0, 78.0, 74.0, 68.0, 68.0, 70.0, 70.0, 71.0, 71.0, 71.0, 71.0, 69.0, 69.0, 72.0, 76.0, 72.0, 73.0, 73.0, 74.0, 69.0, 68.0, 74.0, 73.0, 73.0, 72.0, 71.0, 71.0, 68.0, 72.0, 71.0, 72.0, 71.0, 71.0, 72.0, 71.0, 71.0, 72.0, 72.0, 72.0, 69.0, 71.0, 71.0, 69.0, 74.0, 72.0, 71.0, 71.0, 72.0, 71.0, 67.0, 65.0, 70.0, 76.0, 68.0, 71.0, 71.0, 68.0, 70.0, 73.0, 73.0, 72.0, 71.0, 70.0, 72.0, 71.0, 72.0, 72.0, 71.0, 70.0, 71.0, 71.0, 71.0, 66.0, 65.0, 73.0, 72.0, 72.0, 65.0, 65.0, 68.0, 67.0, 76.0, 70.0, 71.0, 69.0, 67.0, 69.0, 71.0, 69.0, 72.0, 76.0, 75.0, 72.0, 75.0, 71.0, 69.0, 68.0, 68.0, 72.0, 70.0, 72.0, 75.0, 69.0, 72.0, 73.0, 73.0, 72.0, 73.0, 74.0, 73.0, 72.0, 68.0, 72.0, 71.0, 69.0, 67.0, 70.0, 72.0, 67.0, 67.0, 69.0, 67.0, 74.0, 70.0, 73.0, 71.0, 71.0, 71.0, 71.0, 72.0, 76.0, 78.0, 76.0, 73.0, 70.0, 68.0, 77.0, 66.0, 65.0, 69.0, 69.0, 66.0, 64.0, 74.0, 75.0, 80.0, 72.0, 73.0, 70.0, 69.0, 77.0, 74.0, 77.0, 72.0, 69.0, 69.0, 75.0, 75.0, 72.0, 73.0, 78.0, 75.0, 75.0, 74.0, 73.0, 70.0, 70.0, 72.0, 74.0, 74.0, 67.0, 74.0, 70.0, 73.0, 71.0, 71.0, 69.0, 68.0, 70.0, 71.0, 72.0, 70.0, 71.0, 72.0, 68.0, 68.0, 70.0, 70.0, 63.0, 71.0, 67.0, 69.0, 74.0, 72.0, 70.0, 69.0, 73.0, 74.0, 74.0, 73.0, 71.0, 72.0, 69.0, 71.0, 73.0, 73.0, 71.0, 72.0, 71.0, 64.0, 71.0, 62.0, 70.0, 64.0, 64.0, 70.0, 70.0, 69.0, 72.0, 68.0, 68.0, 65.0, 67.0, 68.0, 70.0, 67.0, 73.0, 70.0, 68.0, 72.0, 69.0, 71.0, 70.0, 75.0, 70.0, 68.0, 73.0, 71.0, 71.0, 70.0, 70.0, 70.0, 70.0, 72.0, 74.0, 71.0, 70.0, 70.0, 69.0, 71.0, 70.0, 70.0, 72.0, 72.0, 72.0, 72.0, 72.0, 70.0, 66.0, 71.0, 68.0, 79.0, 76.0, 73.0, 75.0, 71.0, 76.0, 74.0, 73.0, 73.0, 74.0, 73.0, 72.0, 76.0, 75.0, 77.0, 74.0, 76.0, 75.0, 76.0, 73.0, 75.0, 73.0, 73.0, 74.0, 78.0, 78.0, 78.0, 75.0, 75.0, 75.0, 74.0, 77.0, 72.0, 72.0, 73.0, 71.0, 75.0, 76.0, 74.0, 75.0, 74.0, 75.0, 73.0, 72.0, 72.0, 75.0, 74.0, 74.0, 72.0, 73.0, 70.0, 76.0, 78.0, 76.0, 78.0, 74.0, 71.0, 78.0, 70.0, 74.0, 74.0, 75.0, 76.0, 78.0, 72.0, 73.0, 76.0, 72.0, 72.0, 78.0, 76.0, 76.0, 77.0, 79.0, 73.0, 79.0, 77.0, 78.0, 76.0, 78.0, 77.0, 79.0, 75.0, 77.0, 76.0, 78.0, 78.0, 77.0, 78.0, 78.0, 76.0, 75.0, 72.0, 75.0, 77.0, 75.0, 77.0, 76.0, 76.0, 75.0, 72.0, 76.0, 75.0, 72.0, 72.0, 75.0, 69.0, 75.0, 74.0, 78.0, 77.0, 76.0, 72.0, 73.0, 74.0, 74.0, 74.0, 73.0, 73.0, 71.0, 72.0, 72.0, 75.0, 66.0, 66.0, 67.0, 76.0, 68.0, 69.0, 71.0, 70.0, 68.0, 66.0, 69.0, 69.0, 71.0, 72.0, 69.0, 72.0, 70.0, 76.0, 69.0, 71.0, 72.0, 71.0, 78.0, 73.0, 74.0, 68.0, 71.0, 76.0, 75.0, 74.0, 73.0, 73.0, 74.0, 69.0, 74.0, 72.0, 70.0, 67.0, 69.0, 73.0, 75.0, 74.0, 72.0, 71.0, 67.0, 74.0, 70.0, 70.0, 70.0, 71.0, 70.0, 71.0, 71.0, 68.0, 74.0, 75.0, 74.0, 77.0, 76.0, 77.0, 75.0, 76.0, 75.0, 77.0, 75.0, 77.0, 74.0, 78.0, 77.0, 76.0, 69.0, 70.0, 64.0, 75.0, 69.0, 65.0, 76.0, 81.0, 71.0, 71.0, 71.0, 82.0, 74.0, 75.0, 77.0, 74.0, 68.0, 72.0, 70.0, 68.0, 74.0, 71.0, 70.0, 70.0, 70.0, 68.0, 68.0, 68.0, 66.0, 71.0, 76.0, 73.0, 70.0, 68.0, 71.0, 71.0, 68.0, 71.0, 70.0, 73.0, 78.0, 76.0, 73.0, 74.0, 63.0, 72.0, 75.0, 74.0, 72.0, 68.0, 74.0, 73.0, 73.0, 72.0, 73.0, 72.0, 78.0, 74.0, 74.0, 78.0, 78.0, 61.0, 69.0, 65.0, 77.0, 67.0, 69.0, 75.0, 67.0, 71.0, 74.0, 66.0, 66.0, 77.0, 70.0, 73.0, 71.0, 71.0, 71.0, 67.0, 71.0, 74.0, 76.0, 72.0, 74.0, 75.0, 69.0, 69.0, 69.0, 75.0, 73.0, 73.0, 72.0, 72.0, 72.0, 74.0, 72.0, 73.0, 73.0, 73.0, 73.0, 74.0, 73.0, 71.0, 72.0, 73.0, 74.0, 72.0, 73.0, 73.0, 71.0, 73.0, 75.0, 71.0, 72.0, 73.0, 71.0, 65.0, 77.0, 72.0, 78.0, 71.0, 72.0, 71.0, 72.0, 76.0, 75.0, 75.0, 76.0, 73.0, 72.0, 74.0, 74.0, 74.0, 73.0, 77.0, 73.0, 70.0, 72.0, 76.0, 65.0, 74.0, 73.0, 77.0, 76.0, 69.0, 78.0, 76.0, 68.0, 76.0, 68.0, 79.0, 69.0, 64.0, 70.0, 69.0, 73.0, 70.0, 74.0, 76.0, 76.0, 69.0, 73.0, 73.0, 65.0, 70.0, 72.0, 72.0, 75.0, 74.0, 69.0, 73.0, 75.0, 76.0, 74.0, 73.0, 74.0, 71.0, 72.0, 73.0, 72.0, 72.0, 73.0, 72.0, 75.0, 76.0, 67.0, 69.0, 70.0, 75.0, 74.0, 71.0, 74.0, 71.0, 72.0, 74.0, 75.0, 73.0, 75.0, 76.0, 68.0, 71.0, 68.0, 66.0, 63.0, 62.0, 67.0, 68.0, 63.0, 56.0, 76.0, 75.0, 74.0, 76.0, 69.0, 71.0, 72.0, 74.0, 75.0, 72.0, 78.0, 69.0, 75.0, 75.0, 74.0, 74.0, 76.0, 73.0, 75.0, 75.0, 74.0, 79.0, 75.0, 76.0, 76.0, 69.0, 72.0, 76.0, 75.0, 75.0, 75.0, 70.0, 70.0, 74.0, 73.0, 72.0, 78.0, 67.0, 69.0, 71.0, 74.0, 63.0, 76.0, 76.0, 71.0, 76.0, 77.0, 73.0, 71.0, 78.0, 78.0, 75.0, 75.0, 72.0, 77.0, 72.0, 72.0, 71.0, 72.0, 74.0, 66.0, 61.0, 58.0, 60.0, 71.0, 65.0, 72.0, 70.0, 68.0, 67.0, 71.0, 65.0, 64.0, 65.0, 69.0, 70.0, 70.0, 68.0, 69.0, 71.0, 70.0, 71.0, 76.0, 71.0, 72.0, 73.0, 77.0, 67.0, 69.0, 72.0, 74.0, 71.0, 70.0, 68.0, 70.0, 66.0, 72.0, 70.0, 70.0, 70.0, 70.0, 73.0, 71.0, 69.0, 73.0, 72.0, 71.0, 69.0, 70.0, 69.0, 70.0, 75.0, 71.0, 70.0, 69.0, 71.0, 65.0, 67.0, 72.0, 67.0, 76.0, 67.0, 72.0, 69.0, 66.0, 75.0, 74.0, 72.0, 72.0, 72.0, 68.0, 74.0, 73.0, 73.0, 72.0, 70.0, 70.0, 71.0, 70.0, 72.0, 65.0, 62.0, 73.0, 71.0, 70.0, 62.0, 69.0, 69.0, 66.0, 72.0, 73.0, 70.0, 66.0, 64.0, 65.0, 73.0, 74.0, 67.0, 73.0, 70.0, 67.0, 71.0, 78.0, 69.0, 63.0, 64.0, 66.0, 69.0, 69.0, 71.0, 72.0, 69.0, 70.0, 73.0, 68.0, 69.0, 73.0, 73.0, 70.0, 65.0, 70.0, 68.0, 68.0, 66.0, 68.0, 65.0, 62.0, 62.0, 65.0, 61.0, 70.0, 68.0, 67.0, 68.0, 71.0, 69.0, 71.0, 71.0, 71.0, 72.0, 72.0, 68.0, 69.0, 66.0, 60.0, 63.0, 68.0, 64.0, 63.0, 63.0, 59.0, 73.0, 74.0, 75.0, 75.0, 70.0, 72.0, 69.0, 68.0, 74.0, 72.0, 75.0, 79.0, 69.0, 67.0, 73.0, 74.0, 75.0, 72.0, 76.0, 74.0, 75.0, 74.0, 74.0, 76.0, 74.0, 75.0, 75.0, 73.0, 76.0, 74.0, 73.0, 74.0, 70.0, 72.0, 70.0, 67.0, 67.0, 69.0, 70.0, 68.0, 69.0, 69.0, 66.0, 65.0, 68.0, 62.0, 75.0, 70.0, 69.0, 76.0, 76.0, 74.0, 73.0, 71.0, 74.0, 74.0, 72.0, 71.0, 72.0, 74.0, 69.0, 67.0, 70.0, 74.0, 74.0, 75.0, 69.0, 65.0, 66.0, 68.0, 77.0, 65.0, 72.0, 65.0, 66.0, 74.0, 66.0, 63.0, 63.0, 69.0, 69.0, 73.0, 72.0, 68.0, 67.0, 69.0, 74.0, 72.0, 76.0, 70.0, 73.0, 70.0, 76.0, 66.0, 69.0, 69.0, 70.0, 71.0, 73.0, 65.0, 71.0, 65.0, 75.0, 72.0, 74.0, 67.0, 65.0, 68.0, 66.0, 73.0, 74.0, 76.0, 72.0, 69.0, 71.0, 70.0, 70.0, 73.0, 71.0, 76.0, 72.0, 77.0, 70.0, 65.0, 72.0, 75.0, 68.0, 72.0, 64.0, 75.0, 69.0, 80.0, 73.0, 73.0, 73.0, 72.0, 73.0, 75.0, 76.0, 74.0, 72.0, 72.0, 70.0, 70.0, 71.0, 61.0, 65.0, 74.0, 71.0, 63.0, 64.0, 66.0, 68.0, 66.0, 70.0, 68.0, 68.0, 66.0, 75.0, 67.0, 70.0, 72.0, 69.0, 72.0, 69.0, 65.0, 71.0, 73.0, 69.0, 69.0, 63.0, 63.0, 71.0, 79.0, 67.0, 67.0, 64.0, 63.0, 68.0, 77.0, 79.0, 74.0, 68.0, 64.0, 70.0, 62.0, 68.0, 67.0, 70.0, 66.0, 64.0, 62.0, 64.0, 63.0, 69.0, 64.0, 70.0, 72.0, 72.0, 64.0, 71.0, 68.0, 81.0, 78.0, 69.0, 72.0, 70.0, 62.0, 76.0, 72.0, 76.0, 57.0, 64.0, 57.0, 71.0, 70.0, 67.0, 77.0, 69.0, 61.0, 62.0, 63.0, 73.0, 64.0, 67.0, 69.0, 80.0, 71.0, 73.0, 65.0, 68.0, 68.0, 69.0, 72.0, 69.0, 69.0, 67.0, 69.0, 73.0, 71.0, 71.0, 70.0, 71.0, 70.0, 75.0, 71.0, 73.0, 71.0, 71.0, 68.0, 67.0, 70.0, 67.0, 69.0, 71.0, 69.0, 69.0, 68.0, 69.0, 69.0, 67.0, 69.0, 68.0, 70.0, 68.0, 69.0, 71.0, 65.0, 69.0, 69.0, 69.0, 69.0, 70.0, 73.0, 67.0, 74.0, 77.0, 74.0, 73.0, 71.0, 73.0, 68.0, 69.0, 71.0, 72.0, 72.0, 67.0, 67.0, 69.0, 66.0, 66.0, 69.0, 66.0, 68.0, 65.0, 68.0, 67.0, 71.0, 65.0, 71.0, 69.0, 69.0, 62.0, 62.0, 67.0, 65.0, 68.0, 67.0, 75.0, 68.0, 68.0, 70.0, 83.0, 68.0, 70.0, 70.0, 68.0, 76.0, 72.0, 68.0, 64.0, 72.0, 72.0, 68.0, 70.0, 69.0, 68.0, 70.0, 67.0, 70.0, 70.0, 71.0, 70.0, 69.0, 71.0, 68.0, 70.0, 67.0, 70.0, 73.0, 70.0, 66.0, 70.0, 72.0, 71.0, 68.0, 71.0, 67.0, 65.0, 66.0, 70.0, 69.0, 70.0, 72.0, 67.0, 68.0, 64.0, 66.0, 65.0, 62.0, 68.0, 67.0, 73.0, 70.0, 71.0, 71.0, 70.0, 71.0, 69.0, 70.0, 73.0, 70.0, 72.0, 71.0, 69.0, 74.0, 73.0, 69.0, 71.0, 68.0, 72.0, 71.0, 70.0, 72.0, 71.0, 69.0, 71.0, 67.0, 71.0, 69.0, 71.0, 71.0, 67.0, 76.0, 67.0, 67.0, 68.0, 71.0, 68.0, 68.0, 69.0, 65.0, 70.0, 69.0, 64.0, 60.0, 67.0, 72.0, 73.0, 70.0, 68.0, 69.0, 69.0, 69.0, 71.0, 71.0, 71.0, 69.0, 65.0, 65.0]

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_df = pd.DataFrame(december_temps_list, columns=["temps"])
december_df

      temps
0      76.0
1      74.0
2      74.0
3      64.0
4      64.0
...     ...
1512   71.0
1513   71.0
1514   69.0
1515   65.0
1516   65.0

[1517 rows x 1 columns]

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_df.describe()

             temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

## D3: Additional Queries

In [12]:
# 1.1 Write a query that filters the Measurement table to retrieve the precipatation for the month of June.
june_prcp = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6)

In [13]:
# 1.2 Convert the June precipatation to a list.
june_prcp_list = [prcp.prcp for prcp in june_prcp]
print(june_prcp_list)

[0.0, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.02, 0.0, 0.0, 0.0, 0.0, 0.07, 0.0, 0.56, 0.89, 0.0, 0.0, 0.0, 0.03, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05, 0.06, 0.07, None, 0.0, 0.0, 0.01, 0.01, 0.0, 0.02, 0.02, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.03, 0.15, 0.01, 0.0, 0.05, 0.0, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.37, 0.0, 0.0, 0.0, 0.01, 0.0, 0.04, 0.12, 0.04, 0.02, 0.35, 0.03, 0.01, 0.0, 0.0, 0.03, 0.01, 0.0, 0.66, 0.01, 0.0, 0.0, 0.0, 0.03, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.0, 0.03, 0.15, 0.01, 0.07, 0.01, 0.01, 0.19, 0.0, 0.05, 0.06, 0.04, 0.0, 0.01, 0.02, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.03, 0.0, 0.01, 0.04, 0.0, 0.0, 0.03, 0.03, 0.03, 0.0, 0.0, 0.0, 0.0, 0.0, 0.06, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.0, 0.01, 0.05, 0.0, 0.01, 0.0, 0.0, 0.01, 0.02, 0.02, 0.0, 0.01, 0.01, 0.0, 0.0, 0.0, 0.01, 0.03, 0.01, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.02, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.04, 0.08, 0.02, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05, 0.0, 0.02, 0.0, 0.0, 0.0, 0.06, 0.0, 0.0, 0.0, 0.0, 0.0, 0.08, 0.03, 0.0, 0.0, 0.0, 0.0, 0.0, 0.02, 0.0, 0.0, 0.02, 0.0, 0.0, 0.01, 0.06, 0.0, 0.01, 0.02, 0.06, 0.13, 0.02, 0.01, 0.0, 0.0, 0.01, 0.05, 0.24, 0.03, 0.11, 0.0, 0.03, 0.03, 0.08, 0.63, 4.43, 4.02, 0.02, 0.06, 0.04, 0.01, 0.02, 0.01, 0.12, 0.16, 0.0, 0.0, 0.06, 0.0, 0.02, 0.09, 0.03, 0.54, 0.22, 0.03, 0.21, 0.0, 0.04, 0.03, 0.1, 0.0, 0.0, 0.08, 0.03, 0.0, 0.0, 0.0, 0.03, 0.0, 0.0, 0.0, 0.0, 0.04, 0.02, 0.05, 0.08, 0.0, 0.0, 0.02, 0.0, 0.01, 0.14, 0.02, 0.01, 0.28, 0.27, 0.04, 0.22, 0.23, 0.0, 0.06, 0.0, 0.05, 0.02, 0.02, 0.0, 0.0, 0.03, 0.0, 0.0, 0.0, 0.02, 0.0, 0.0, 0.02, 0.08, 0.01, 0.0, 0.01, 0.02, 0.0, 0.0, 0.22, 0.27, 0.03, 0.02, 0.05, 1.0, 0.1, 0.02, 0.22, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.13, 0.01, 0.02, 0.02, 0.1, 0.15, 0.0, 0.0, 0.0, 0.01, 0.12, 0.05, 0.07, 0.0, 0.29, 0.06, 0.15, 0.15, 0.1, 0.04, 0.04, 0.02, 0.25, 0.18, 0.03, None, 0.27, 0.0, 0.0, 0.0, 0.1, 0.05, 0.07, 0.1, 0.0, 0.0, 0.07, 0.0, 0.14, 0.25, 0.14, 0.02, 0.04, 0.01, 0.01, 0.03, 0.14, 0.2, 0.1, 0.06, None, 0.89, 0.15, 0.16, 0.0, 0.63, 0.36, 0.4, 0.0, 0.21, 0.06, 0.02, 0.04, 0.08, 0.06, 0.18, 0.03, 0.16, 0.3, 0.02, 0.16, 0.03, 0.01, 0.25, 0.02, 0.8, 0.06, 0.06, 0.02, 0.03, 0.0, 0.03, 0.1, 0.2, 0.15, 0.0, 0.0, 0.0, 0.02, 0.02, 0.21, 0.24, 0.19, 0.36, 0.27, 0.17, 0.02, 0.35, 0.25, 0.05, 0.05, 0.02, 0.1, 0.0, 0.0, 0.08, 0.02, 0.0, 0.01, 0.03, 0.04, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.09, 0.0, 0.0, 0.0, 0.0, 0.03, 0.0, 0.06, 0.03, 0.0, 0.0, 0.03, 0.04, 0.0, 0.0, 0.0, 0.0, 0.05, 0.12, None, 0.18, 0.06, 0.03, 0.19, 0.04, 1.75, 1.14, 3.6, 0.0, 0.05, 0.17, 0.0, 0.02, None, 0.02, 0.0, 0.13, 0.0, 0.0, 0.12, None, 0.2, 0.09, 0.17, 0.03, None, 0.12, 0.08, 0.01, None, 0.12, 0.03, 0.2, 0.0, 0.23, 0.02, None, 0.0, 0.0, 0.0, 0.01, 0.0, 0.01, 0.0, 0.0, 0.04, 0.08, 0.03, None, 0.04, 0.04, 0.08, 0.01, None, 0.17, 0.0, None, 0.02, 0.0, 0.0, 0.0, 0.13, 0.04, None, 0.16, 0.17, 0.0, 0.0, 0.0, None, 0.39, 0.08, 0.14, 0.07, 0.11, None, 0.03, 0.1, 0.08, 0.08, None, 0.04, 0.05, 0.0, 0.22, 0.0, 0.0, None, 0.0, 0.0, 0.0, 0.03, None, 0.0, 0.0, 0.16, 0.04, 0.02, 0.06, 0.0, 0.04, 0.02, 0.01, 0.2, 0.11, 0.09, 0.0, 0.11, 1.1, 0.22, 0.35, 0.02, None, 0.0, 0.12, 0.13, 0.01, 0.26, 0.01, 0.0, 0.18, 0.06, 0.17, 0.03, 0.03, 0.47, 0.0, 0.08, 0.1, 0.03, 0.44, 0.03, 0.0, 0.0, 0.06, 0.0, 0.0, 0.15, 0.16, 0.05, 0.02, 0.0, 0.0, 0.01, 0.0, 0.53, 0.14, 0.35, 0.1, 0.21, 0.3, 0.02, 0.02, 0.18, 0.19, 0.17, None, None, None, 0.0, 0.0, 0.0, 0.14, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05, 0.0, 0.02, 0.0, 0.02, 0.1, 0.0, 0.0, 0.0, None, 0.0, 1.71, 0.0, 0.0, 0.05, 0.0, 0.0, 0.0, None, None, None, None, 0.25, 0.08, 0.22, 0.1, None, None, None, 0.0, 0.04, None, 0.0, None, None, 0.0, None, 0.0, 0.25, None, None, 0.02, 0.05, 0.0, 0.0, None, None, None, 0.0, 0.0, None, None, 0.02, 0.0, 0.0, 0.0, None, None, None, None, 0.08, 0.0, 0.04, 0.08, None, None, 0.01, None, None, 0.0, None, None, None, None, 0.0, None, 0.0, None, 0.2, 0.0, 0.01, 0.14, 0.0, 0.04, 0.0, None, 0.0, 0.01, 0.0, 0.0, None, 0.04, 0.09, None, None, None, None, None, None, None, None, None, None, None, None, 0.02, 0.1, 0.38, 0.1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 0.0, 0.0, None, 0.0, 0.0, 0.0, 0.12, None, 0.03, 0.0, 0.0, 0.0, 0.0, None, 0.0, 0.0, 0.0, 0.01, None, 0.0, 0.3, 0.02, 0.03, None, 0.11, 0.28, 0.3, None, 0.1, 0.04, None, 0.04, None, 0.08, 0.09, 0.06, 0.07, None, 0.05, 0.82, 0.03, None, None, None, None, 0.03, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.14, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.08, 0.08, 0.0, 0.0, 0.0, 0.15, 0.01, 0.09, 0.51, 0.25, 0.03, 0.03, 0.0, 0.0, 0.0, 0.0, 0.09, 0.0, 0.0, 0.0, 0.09, 0.0, 0.0, 0.17, 0.14, 0.38, 0.17, 0.05, 0.03, 0.0, 0.12, 0.02, 0.02, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.12, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.25, 0.25, 0.0, 0.0, 0.1, 0.0, 0.51, 0.19, 0.15, 0.0, 0.06, 0.0, 0.0, 0.08, 0.02, 0.0, 0.0, 0.0, 0.07, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.28, 0.0, 0.0, 0.0, 0.0, 0.0, 0.07, 0.32, 0.13, 0.08, 0.01, 0.18, 0.42, 0.02, 0.05, 0.0, 0.0, 0.1, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.13, 0.0, 0.0, 0.0, 0.0, 0.0, None, 0.0, 0.51, 0.0, 0.01, 0.23, 0.01, 0.07, 0.1, None, 0.01, 0.07, 0.13, 0.0, 0.0, 0.07, 0.01, 0.0, 0.0, 0.01, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05, 0.18, 0.0, 0.0, 0.0, 0.0, 0.05, 0.0, 0.14, 0.0, 0.0, None, 0.0, 0.38, 0.03, 0.47, 0.02, 0.14, 0.17, 0.07, 0.0, 0.15, 0.23, 0.0, 0.12, 0.1, 0.0, 0.25, None, 0.0, 0.06, 0.03, 0.03, 0.0, 0.0, 0.0, 0.21, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.15, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.13, 0.25, 0.14, 0.03, 0.06, 0.0, 0.0, 0.0, 0.0, 0.01, None, 0.0, 0.05, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.07, 0.0, 0.03, 0.0, 0.0, 0.0, 0.0, 0.12, 0.0, 0.0, 0.0, 0.0, 0.0, 0.04, 0.06, 0.11, 0.0, 0.02, 0.19, 0.33, 0.0, 0.0, 0.0, 0.02, 0.07, 0.09, 0.41, 0.05, 0.0, 0.05, 0.0, 0.22, 0.42, 0.33, 0.03, 0.05, 0.03, 0.03, 0.32, 0.05, 0.16, 0.0, 0.06, 0.03, 0.01, 0.14, 0.05, 0.57, 0.61, 0.06, 0.81, 0.01, 0.11, 0.09, 0.12, 0.08, 0.03, 0.02, 0.08, 0.0, 0.0, 0.0, 0.1, 0.07, 0.01, 0.0, 0.0, 0.11, 0.16, 0.07, 0.21, 0.0, 0.0, 0.02, 0.0, 0.02, 0.33, 0.26, 0.03, 0.35, 0.14, 0.13, 0.22, 0.43, 0.01, 0.14, 0.01, 0.06, 0.17, 0.08, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.02, 0.0, 0.1, 0.16, 0.1, 0.03, 0.05, 0.04, 0.01, 0.02, 0.53, 0.88, 0.03, 0.22, 0.36, 0.82, 0.07, 0.04, 0.43, 0.71, 0.07, 0.06, 0.0, 0.01, 0.01, 0.19, 0.2, 0.18, 0.04, 0.22, 0.37, 0.02, 0.0, 0.02, 0.02, 0.03, 0.29, 0.17, 0.04, 0.16, 0.22, 0.04, 0.31, 0.08, 0.23, 0.31, 0.12, 0.6, 0.48, 0.01, 0.46, 0.02, 0.0, 1.24, 0.06, 0.0, 0.07, 0.01, 0.34, 0.03, 0.03, 0.08, 0.01, 0.05, 0.03, 0.01, 0.15, 0.45, 0.19, 0.13, 0.05, 0.05, 0.03, 0.17, 0.21, 0.02, 0.21, 0.02, 0.27, 0.16, 1.39, 0.5, 0.02, 0.0, 0.22, 0.52, 0.35, 0.0, 0.29, 0.62, 0.13, 0.28, 0.02, 0.2, 0.68, 0.05, 0.29, 0.4, 0.05, 0.4, 0.04, 0.13, 0.39, 0.12, 0.75, 0.03, 0.37, 0.23, 0.1, 0.01, 0.0, 0.09, 0.08, 0.13, 0.05, 0.0, 0.0, 0.0, 0.02, 0.62, 0.74, 0.24, 0.24, 0.22, 0.55, 0.06, 0.07, 0.24, 0.08, 0.0, 0.19, 0.06, 0.12, 0.36, 0.02, 0.06, 0.01, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.04, 0.05, 0.0, 0.0, 0.0, 0.0, 0.0, 0.02, 0.0, 0.09, 0.0, 0.02, 0.03, 0.02, 0.0, 0.03, 0.58, 0.02, 0.0, 0.0, 0.1, 0.0, 0.0, 0.0, 0.02, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.01, 0.03, 0.1, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.02, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.03, 0.0, None, 0.0, 0.0, 0.0, 0.02, 0.0, 0.0, 0.1, 0.0, 0.01, 0.0, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.07, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05, 0.0, 0.0, 0.0, 0.02, 0.06, 0.0, 0.0, 0.08, 0.0, 0.0, 0.0, 0.0, 0.0, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.17, 0.01, 0.0, 0.03, 0.0, 0.0, 0.05, 0.05, 0.05, 0.03, 0.02, 0.05, 0.0, 0.01, 0.0, 0.0, 0.0, 0.0, None, 0.0, None, 0.0, None, 0.2, 0.0, 0.0, 0.0, None, 0.0, 0.0, 0.01, 0.01, 0.08, 0.0, 0.1, 0.01, 0.09, 0.13, 0.44, 0.27, 0.0, None, None, 0.05, None, None, 0.04, 0.26, 0.79, 0.88, 0.37, 0.16, 0.02, 0.71, 0.61, 0.22, 2.0, 2.45, 0.76, 0.1, 0.19, 0.23, 0.1, 0.11, 0.17, 1.5, 0.41, 0.14, 0.01, 0.83, 0.18, 0.07, 1.84, 0.91, 1.03, 1.65, 0.68, 1.16, 0.06, 0.29, 0.98, 0.25, 0.06, 0.0, 0.26, 0.22, 0.0, 0.02, 0.0, 0.72, 0.12, 0.3, 0.0, 0.08, 0.08, 0.14, 0.48, 0.21, 0.0, 0.0, 0.1, 0.0, 0.38, 1.84, 0.34, 0.94, 1.13, 0.89, 0.92, 0.73, 0.37, 0.79, 0.71, 0.81, 0.49, 0.03, 0.0, 0.14, 0.07, 0.08, 0.02, 0.02, 0.05, 0.28, 0.47, 2.56, 0.11, 0.3, 0.43, 0.44, 0.05, 0.18, 1.53, 1.96, 0.67, 0.62, 2.03, 2.8, 0.06, 0.34, 0.53, 0.83, 0.26, 0.68, 0.19, 0.09, 0.03, 0.88, 0.15, 0.29, 1.0, 0.11, 0.57, 0.02, 0.01, 0.0, 0.03, 0.38, 1.45, 0.32, 0.2, 0.75, 0.09, 0.03, 0.74, 0.07, 0.97, 0.42, 0.9, 1.29, 1.29, 2.47, 0.27, 0.01, 1.12, 0.16, 0.0, 0.01, 0.34, 0.26, 0.04, None, 0.0, 0.47, 0.67, 0.94, 0.48, 0.54, 0.69, 0.13, 0.1, 0.19, 0.31, 0.78, 1.36, 0.4, 0.17, 0.16, 1.62, 0.0, 1.4, 0.74, 0.1, None, 0.47, 1.26, 0.01, 1.7, 1.4, 0.65, 0.55, 0.08, 0.19, 1.38, 0.12, 1.27, 0.72, 0.79, 0.52, 0.78, 0.2, 0.9, None, 0.7, 0.3, 0.25, 0.35, 0.01, None, 0.82, 0.01, 0.0, 0.01, 0.0, None, 0.7, 0.81, 0.65, 0.81, 1.69, 0.1, 0.1, 0.7, 0.4, 0.31, 0.3, 0.28, 0.5, 0.22, 0.5, 0.02, 0.1, 0.02, 0.04, 0.2]

In [14]:
# 1.3 Create a DataFrame from the list of precipitation for the month of June. 
june_prcp_df = pd.DataFrame(june_prcp_list, columns=["precipitation"])
june_prcp_df

      precipitation
0              0.00
1              0.01
2              0.00
3              0.00
4              0.00
...             ...
1695           0.02
1696           0.10
1697           0.02
1698           0.04
1699           0.20

[1700 rows x 1 columns]

In [15]:
# 1.4 Calculate and print out the summary statistics for the June precipitation DataFrame.
june_prcp_df.describe()

       precipitation
count    1574.000000
mean        0.136360
std         0.335731
min         0.000000
25%         0.000000
50%         0.020000
75%         0.120000
max         4.430000

In [16]:
# 2.1 Write a query that filters the Measurement table to retrieve the precipatation for the month of December.
december_prcp = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 12)

In [17]:
# 2.2 Convert the December precipatation to a list.
december_prcp_list = [prcp.prcp for prcp in december_prcp]
print(december_prcp_list)

[0.04, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.58, 0.77, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.4, 0.0, 0.0, None, 0.13, 0.55, 0.06, 0.01, 0.0, 0.03, 0.08, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.13, 0.07, 0.07, 0.08, 0.4, 0.7, 0.0, 0.01, 0.07, 0.02, 0.15, 0.02, 0.18, 0.03, 0.04, 0.1, 0.03, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.2, 0.01, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.14, 0.09, 0.01, 0.02, 0.02, 0.12, 0.0, 0.1, 0.0, 0.0, 0.0, 0.0, 0.03, 0.0, 0.0, 0.0, 0.0, 0.04, 0.0, 2.01, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.03, 0.0, 0.0, 0.02, 0.0, 0.0, 1.1, 0.02, 0.0, 0.16, 0.09, 0.02, 0.0, 0.0, 0.05, 0.02, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.02, 0.15, 0.09, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05, 0.01, 0.0, 0.03, 0.02, 0.01, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.93, 0.04, 0.02, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05, 0.0, 0.0, 0.06, 0.02, 0.0, 0.0, 0.0, 0.0, 0.0, 0.06, 0.0, 0.39, 0.0, 0.0, 0.08, 0.0, 0.02, 0.08, 0.13, 0.03, 0.01, 0.0, 0.0, 0.0, 0.0, 0.02, 0.43, 0.01, 0.0, 0.0, 0.0, 0.12, 0.03, 0.0, 0.03, 0.43, 0.02, 0.0, 0.03, 0.52, 0.05, 0.04, 0.01, 0.05, 0.03, 0.0, 0.0, 0.01, 0.13, 0.01, 0.0, 0.0, 0.01, 0.01, 0.01, 0.0, 0.02, 0.0, 0.02, 0.04, 0.12, 0.01, 0.76, 0.13, 0.16, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.95, 0.62, 0.15, 0.47, 0.0, 0.0, 0.0, 0.0, 0.0, 3.18, 4.94, 0.43, 0.01, 0.02, 0.0, 2.95, 0.99, 0.46, 0.63, 0.02, 0.11, 0.05, 0.11, 0.14, 0.03, 0.01, 0.0, 0.0, 0.04, 0.08, 0.07, 0.11, 0.76, 0.58, 1.55, 0.05, 0.02, 0.0, 0.02, 0.11, 0.05, 0.02, 0.24, 0.06, 0.02, 0.02, 0.05, 0.0, 0.0, 0.03, 0.01, 0.02, 0.04, 0.0, 0.0, 0.0, 0.18, 0.07, 0.0, 0.0, 0.0, 0.0, 0.03, 0.0, 0.07, 0.1, 0.08, 0.1, 0.04, 0.02, 0.2, 0.24, 0.08, 0.06, 0.07, 0.02, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.21, 0.17, 0.0, 0.93, 0.8, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.13, 0.0, 0.01, 0.0, 0.0, 1.31, 0.01, 0.01, 1.0, 0.41, 0.01, 0.02, 0.02, 0.01, 0.02, 0.02, 0.0, 0.02, 0.03, 0.0, 0.09, 0.0, 0.0, 0.05, 1.35, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05, 0.12, 0.03, 0.11, 0.0, 0.03, 0.14, 0.09, 0.01, 0.0, 0.0, 0.0, 1.1, 1.24, 0.09, 0.0, 0.0, 0.0, 0.0, 0.0, 0.72, 0.03, 0.08, 0.01, 0.28, 0.52, 0.0, 0.08, 0.1, 0.08, 0.0, 0.62, 0.0, 0.69, 0.24, 0.08, 0.13, 0.28, 0.36, 0.2, 0.03, 0.01, 0.11, 0.0, 0.52, 0.19, 0.25, 0.4, 0.11, 0.03, 0.06, 0.33, 0.3, 0.04, 0.1, 0.34, 0.02, 0.17, 0.03, 0.34, 0.02, 0.02, 0.01, 0.1, 0.05, 0.02, 0.01, 0.11, 0.29, 0.21, 0.02, 0.03, 0.17, 0.1, 0.14, 0.03, 0.26, 0.03, 0.09, 0.18, 0.21, 0.62, 0.03, 0.06, 0.22, 0.0, 0.0, 0.0, 0.0, 0.0, 0.12, 2.01, 0.26, 0.01, 0.65, 0.0, 0.0, 0.0, 0.0, 0.0, 2.43, 2.55, 0.49, 0.05, 0.02, 0.0, None, 0.15, 0.96, 0.01, 0.05, 0.0, 0.04, 0.24, 0.02, 0.0, 0.0, 0.0, 0.04, 0.0, 0.02, 0.36, None, 0.47, 0.1, 0.04, 0.07, None, 0.16, 0.05, 0.25, 0.12, None, None, 0.03, None, 0.0, 0.08, 0.0, None, 0.0, 0.08, 0.0, 0.0, None, 0.0, 0.03, 0.25, 0.22, None, 0.22, 0.29, None, 0.0, None, None, None, None, None, 0.2, 0.0, 0.0, 0.05, 0.04, 0.0, 0.0, 0.05, 0.0, 0.0, 0.07, 0.0, None, 0.0, 0.02, 0.52, 0.1, 0.07, None, 0.0, None, 0.03, 0.01, 0.0, 0.0, 0.23, 0.0, 0.0, 0.24, 1.51, 0.26, 0.48, None, 0.0, 0.0, 0.1, 0.07, 0.0, None, 0.0, 0.01, 0.03, 0.01, 0.0, None, 0.58, None, None, None, 0.0, 0.0, 0.17, 0.03, None, 0.05, 0.02, 0.12, 0.03, 0.17, 0.0, 0.05, 0.0, 0.05, 0.13, 0.08, 0.18, None, 0.13, 0.1, None, None, 0.21, 0.01, 0.07, 0.4, 0.26, 0.0, 0.2, None, 0.02, 0.26, 0.0, None, 0.34, 0.12, 0.07, 0.0, 0.0, 0.04, 0.0, 0.0, 0.09, 0.05, 0.03, 0.13, None, 0.02, 0.01, 0.56, 0.29, 0.36, 0.7, 0.26, 0.0, 0.0, 0.0, 0.02, 1.75, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.07, 0.05, 0.16, None, 2.8, 0.86, 0.02, None, 0.0, 0.0, 0.02, None, None, 0.0, 0.0, 0.0, 0.04, 0.07, None, None, None, None, None, 0.0, 0.02, None, 0.0, 0.0, 0.0, 0.0, None, 0.02, None, None, None, None, None, None, 0.0, None, 0.28, 0.0, 0.05, 0.15, None, None, None, 0.0, 0.06, 0.1, None, None, None, None, 0.04, 0.1, 0.02, 0.0, None, 0.0, None, 0.28, None, None, None, None, None, None, None, 0.11, None, None, None, None, None, None, None, None, 0.27, None, 0.02, None, None, None, None, None, None, 0.06, None, None, None, None, None, None, 0.78, None, 0.02, 0.02, 0.33, 1.43, 2.5, 1.5, None, 0.13, 0.1, 0.05, None, None, None, None, 0.16, None, 0.03, 0.02, 0.01, 0.0, 0.0, 0.0, 0.0, 0.15, 0.03, 2.02, 0.3, 0.09, 0.02, 0.04, 0.0, 0.0, 0.0, 0.0, 2.86, 4.95, 0.63, 0.58, 0.11, 0.02, 0.02, 0.74, 0.09, 0.07, 0.04, 0.27, 0.01, 0.12, 0.42, 0.02, 0.0, 0.0, 0.01, 0.0, 0.0, 0.08, 0.07, 0.55, 0.21, 0.39, 0.02, 0.09, 0.02, 0.25, 0.08, 0.1, 0.24, 0.19, 0.02, 0.01, 0.1, 0.07, 0.05, 0.04, 0.0, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.08, 1.02, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.04, 0.13, 0.09, 0.12, 0.04, 0.09, 0.22, 0.04, 0.1, 0.02, 0.0, 0.0, 0.0, 0.1, 0.03, 0.0, 0.0, 0.0, 0.03, 0.0, 0.09, 2.25, 0.09, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.03, 0.0, 0.02, 0.02, 0.0, 0.1, 0.88, 0.0, 0.0, 0.35, 0.01, 0.0, 0.01, 0.08, 0.04, 0.0, 0.0, 0.0, 0.06, 0.16, 0.01, 0.17, 0.0, 0.0, 0.02, 1.02, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.16, 0.08, 0.11, 0.2, 0.05, 0.05, 0.09, 0.0, 0.0, 0.0, None, 1.52, 1.01, 0.53, 0.0, 0.0, 0.0, 0.0, 0.0, 0.63, None, 0.03, 0.0, 0.0, None, 0.04, 0.13, 0.14, 0.06, 0.41, 0.01, 0.03, 0.28, 0.0, 0.06, 0.12, 0.24, 0.04, None, 0.0, 0.0, 0.23, 0.15, 0.48, 0.05, 0.01, None, 0.16, 0.01, 0.02, 0.32, 0.45, 0.0, 0.07, 0.01, None, 0.06, 0.0, 0.15, 0.05, 0.0, 0.0, 0.16, 0.27, 0.02, 0.01, 0.06, 0.14, 0.02, 0.06, 0.0, 0.06, 0.0, 0.06, 0.05, 0.07, 1.35, 0.16, 0.47, 0.0, 0.0, 0.0, 0.0, 0.0, 0.07, 1.72, 0.89, 0.31, 0.22, 0.02, 0.0, 0.0, 0.0, 0.0, 2.77, 3.06, 0.71, 0.02, 0.23, 0.02, 3.14, 2.49, 0.13, 0.58, 0.06, 0.04, 0.1, 0.05, 0.29, 0.07, 0.02, 0.01, 0.0, 0.05, 0.0, 0.1, 0.23, 1.16, 0.65, 1.02, 0.07, 0.3, 0.03, 0.38, 0.1, 0.29, 0.01, 0.58, 0.11, 0.12, 0.11, 0.04, 0.0, 0.05, 0.02, 0.0, 0.01, 0.1, 0.0, 0.0, 0.0, 0.02, 0.32, 0.01, 0.0, 0.0, 0.0, 0.08, 0.0, 0.02, 0.13, 0.25, 0.21, 0.08, 0.14, 0.46, 0.25, 0.34, 0.05, 0.01, 0.1, 0.0, 0.04, 0.0, 0.0, 0.0, 0.01, 0.35, 0.42, 0.12, 1.71, 0.57, 0.01, 0.0, 0.0, 0.01, 0.0, 0.0, 0.04, 0.17, 0.03, 0.04, 0.08, 0.06, 1.97, 0.02, 0.02, 0.77, 1.14, 0.07, 0.03, 0.06, 0.09, 0.03, 0.05, 0.01, 0.01, 0.0, 0.0, 0.08, 0.0, 0.0, 0.41, 1.56, 0.04, 0.63, 0.01, 0.0, 0.0, 0.0, 0.21, 0.07, 0.01, 0.13, 0.0, 0.08, 0.07, 0.11, 0.08, 0.0, 0.0, 0.0, 1.07, 1.1, 0.36, 0.0, 0.0, 0.0, 0.0, 0.0, 0.66, 0.02, 0.02, 0.22, 0.03, 0.0, 0.1, 0.02, 0.02, 0.08, 0.1, 0.15, 0.31, 0.03, 0.13, 0.35, 0.03, 0.09, 0.17, 0.13, 0.05, 0.15, 0.04, 0.1, 0.45, 0.47, 0.22, 0.8, 0.0, 0.16, 0.5, 0.09, 0.37, 0.35, 0.77, 0.04, 0.22, 0.0, 0.12, 0.07, 0.31, 0.02, 0.0, 0.0, 0.04, 0.92, 0.14, 0.03, 0.07, 0.16, 0.03, 0.0, 0.11, 0.86, 0.24, 0.2, 0.02, 0.22, 0.05, 0.09, 0.52, 0.29, 0.25, 0.13, 0.0, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.04, 1.8, 0.8, 0.01, 0.0, 0.01, 0.0, 0.0, 0.0, 0.0, 4.0, 3.05, 0.17, 0.04, 0.0, 0.05, 0.01, 3.0, 0.01, 1.67, 0.0, 0.02, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05, 0.03, 0.29, 0.03, 0.1, 0.06, 0.01, 0.01, 0.0, 0.0, 0.0, 0.0, 0.03, 0.02, 0.01, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.08, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.15, 0.0, 0.0, 0.0, 0.02, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.46, 0.87, 0.0, 0.01, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.02, 0.0, 0.0, 0.06, 2.4, 0.01, 0.01, 0.05, 0.0, 0.0, 0.0, 0.08, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.17, 0.09, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0, 0.01, 0.0, None, 0.0, 0.0, 0.03, 0.0, 0.0, 0.0, 0.0, 0.01, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.7, 1.48, 0.18, 1.59, 0.19, 0.0, 0.0, 0.0, 0.0, 0.0, 1.86, 0.58, 0.45, 0.18, 0.0, 0.0, 0.0, 0.0, 0.0, 2.15, 5.04, 1.44, 0.04, 0.0, 0.15, 0.0, 0.99, 0.02, 0.04, 0.19, 0.3, 0.01, 0.16, 0.46, 0.11, 0.03, 0.22, 0.12, 0.26, 0.53, None, 1.35, 1.71, 6.42, 1.37, 1.18, 1.09, 0.63, 0.3, 0.87, 0.16, 1.52, 0.27, 0.42, 0.8, 0.58, 0.05, 0.06, 0.06, 0.0, 0.05, 0.25, 0.0, 0.01, 0.0, 0.0, 0.04, 0.0, 0.0, 0.01, 0.04, 0.12, 0.0, 0.24, 0.44, 0.72, 0.44, 0.48, 0.54, 2.25, 0.34, 1.8, 0.67, 0.12, 0.0, 0.0, 0.0, 0.21, 0.02, 0.0, 0.0, 0.1, 0.04, 0.14, 2.02, 0.15, 0.0, 0.0, 0.0, None, 0.0, 0.35, 0.37, 0.09, 0.39, 0.54, 0.01, 1.13, 0.0, 0.03, 2.0, 1.02, 1.14, None, 0.03, 0.41, 0.14, 0.0, 0.03, 0.47, 0.02, 0.0, 0.0, 0.07, 1.82, 1.41, 0.0, 0.11, 0.0, None, 0.0, 1.09, 0.83, 0.0, 1.75, 0.55, 0.58, 0.8, 0.21, 0.51, None, 0.59, 4.03, 0.4, 0.03, 0.0, 0.0, 0.0, 0.0, 0.03, 0.08, 0.57, 0.01, 0.05, 0.05, 0.04, 0.12, 0.36, 0.9, 0.13, 0.21, 0.0, None, 0.07, 0.43, 0.59, 1.19, 0.43, None, 1.56, 0.01, 1.19, 0.81, 2.21, None, 0.03, 0.1, 0.72, 1.27, 1.62, 0.31, 1.6, 0.0, 0.02, 0.03, 0.42, 0.04, 0.13, 0.01, 0.09, 0.33, 0.03, 0.0, None, 0.15, 0.0, 0.55, 1.24, 0.83, 1.08, 0.38, 1.48, 0.14, 0.14, 1.03, 2.37, 0.9]

In [18]:
# 2.3 Create a DataFrame from the list of precipitation for the month of December. 
december_prcp_df = pd.DataFrame(december_prcp_list, columns=["precipitation"])
december_prcp_df

      precipitation
0              0.04
1              0.00
2              0.00
3              0.00
4              0.00
...             ...
1512           0.14
1513           0.14
1514           1.03
1515           2.37
1516           0.90

[1517 rows x 1 columns]

In [19]:
# 2.4 Calculate and print out the summary statistics for the June precipitation DataFrame.
december_prcp_df.describe()

       precipitation
count    1405.000000
mean        0.216819
std         0.541399
min         0.000000
25%         0.000000
50%         0.030000
75%         0.150000
max         6.420000